################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwilioSampleApp/obj
/TwilioSampleApp/bin/Debug/net6.0
